
/* bg, font, layout of body of connexion*/
body {
    background-image: url(meeting-room-acceuil.jpg);
    background-size: cover;
    font-family: 'Bree Serif', serif;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h2{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    
}
/*width of my header*/
header{
    background-color:  rgb(74, 124, 168);
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    
}
.displaymod div {
    width: auto;
    height: 260px;
    background-color: rgb(155 144 142 / 37%);
    align-self: center;
    margin: 0 auto;
    padding: 24px;
    border-radius: 24px;

}
main{
    display :flex;
    align-items: center;
    font-size: 20px;
}
    /*layout and width of my nav*/
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* layout of my ul from my nav*/
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%
}
   
/* layout and style of my link in my nav*/
nav a{
    text-decoration: none;
    color: inherit;
    justify-content: space-between;
    align-items: center;

}

/*layout and width of my form in connexion page*/ 
form{
    display: flex;
    flex-direction: column;
    width: min-content;

}
