/*bg color, font and layout of index*/
body {
    background-image: url(meeting-room-acceuil.jpg);
    background-size: cover;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
/*width of my header*/
header{
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    
}
main{
   font-size: 20px;
}
.displaymod div {
    width: auto;
    height: auto;
    background-color: rgb(155 144 142 / 37%);
    align-self: center;
    margin: 0 auto;
    padding: 24px;
    border-radius: 24px;

}
    /*layout and width of my nav*/
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* layout of my ul from my nav*/
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%
}
p{
    text-align: center;
} 
/* layout and style of my link in my nav*/
nav a{
    text-decoration: none;
    color: inherit;
    justify-content: space-between;
    align-items: center;

}
/*layout of my form*/
form{
    display: flex;
    flex-direction: column;
    width: 100%;

}

input {
    width: 100%;
}

thead, th {
   
    padding: 8px;

}

h2{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    
}

/*layout with flex my form input (field)*/
.mama01{
display: flex;
align-items: center;
align-content: stretch;
flex-wrap: nowrap;
flex-direction: column;
}

/*layout of values to fill*/
label span{
width: 100%;
display: inline-block;

}
